*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Thuộc tính dùng để điều chỉnh kích thước ban đầu sao cho khi badding và margin không bị ảnh hưởng và nó tự động cộng vào.*/
}
html{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.row{
  margin-left: -8px;
  margin-right: -8px;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}
.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-third{
  width: 33.33333%;
}
.col-half{
  width: 50%;

}
.col-full{
  width: 100%;
}
.mt-8{
  margin-top: 8px !important;
}
.mt-16{
  margin-top: 16px !important;
}
.mt-32{
  margin-top: 32px;
}
.text-center{
  text-align: center;
}
.pull-right{
  float: right !important;
}
/* main */
#header{
  background-color: #000;
  height: 46px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;;
  z-index: 1;
 

}

#nav {
  display: inline-block;
}

#nav
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li:hover .subnav {
  display: block;
}

#nav li a {
  text-decoration: none;
  padding: 0 24px;
  line-height: 46px;
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  top: 100%;
  left: 0;
}

#nav .subnav li:hover,
#nav li:hover > a {
  color: black;
  background-color: gray;
}

#nav .subnav a {
  color: black;

  /* line-height: 38px; */
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: rgb(230, 31, 31);
}
#header .mobie-menu-btn:hover{
  background-color: #ccc;
}  
#header .mobie-menu-btn{
  position:absolute  ;
  top: 0;
  right: 0;
  display: none;
}
#header .mobie-menu-btn,
#header .search-btn{
  float: right;
  padding: 0 21px;

}
#header .mobie-menu-btn:hover .menu-icon{
color: #000;
}
.mobie-menu-btn .menu-icon,
.search-btn .search-icon{
  color: white;
  font-size: 20px;
  line-height: 46px;
  
}
#slider{    
  position: relative; 
  margin-top: 46px;
  padding-top: 50%;
  background: url('/w3_band/asset/img/slider_1.jpg') top center/ cover no-repeat ;
}
#slider .text-content{
  position: absolute;
  bottom: 48px;
  color: white;
  left: 50%;
  transform: translateX(-50%); /* Ôn lại cái transform này*/
  text-align: center;

  /* Cách đơn giản : width: 100%;
  left:0; right:0;
  */
}
#slider .text-heading{
  font-size: 24px;
}
#slider .text-description{
  font-size: 15px;
  margin-top: 25px;

}
#content .content-section{
  width: 800px;
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}
.content-section .section-heading{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}
.content-section .section-sub-heading{
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  opacity: 0.6;
}
.content-section .about-text{
  margin-top: 25px;
  font-size: 15px;
 text-align: justify;   /* căn đều */
 line-height: 1.4; /* khoảng cách giữa các dòng*/
}
.content-section .member-list{
  margin-top: 32px;

  /* overflow: hidden; đây là 1 cách giúp làm float ôm lấy thuộc tính */
  
}

.content-section .member-name{
  font-size: 15px;
  
}
.member-list img{
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}
.content-section .clear{
  clear: both;
}
.text-while{
  color: white !important;
}
.tour-section{
  background-color: black;
}
.sickets-list{
  background-color: white;
  margin-top: 40px;
}
.sickets-list li{
  list-style: none;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid rgb(168, 163, 163);
  color: #757575;
}
.sickets-list .sold-out{
  background-color: rgb(190, 41, 41);
  color: #fff;
  padding: 4px 4px;
  margin-left: 16px;


}
.sickets-list .sold-quantity{
float: right;
width: 24px;
height: 24px;
color: #fff;
text-align: center;
line-height: 24px;
background-color: black;
border-radius: 50px;
margin-top: -3px;
}

.place-list{  
 margin-top: 16px;
 
}

.place-heading{
  font-size: 15px;
}
.place-img{
  width: 100%;
  display: block;

}
.place-img:hover{
  opacity: 0.7;
}
.place-body{
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-time{
 
  color: #757575;
}
.place-decs{
  margin: 15px 0;
 line-height: 1.5;

}
.btn{
  text-decoration: none;
  background-color: #000;
  color: #fff; 
  padding: 8px 16px ;
  margin-bottom: 16px;
  border: none;
  
}
.btn:hover{
  color: #000;
  background-color: #757575;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex !important;
}

.modal-container {
  background: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-width: 200px;
  position: relative;
  animation: modalFadeIn ease .6s; /*kiểu chuyển động*/
}

.modal-header {
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-heading-icon {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
}

.modal-body {
  padding: 16px;
}

.modal-lable {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-ticket {
  background: #009688;
  width: 100%;
  border: none;
  color: #FFF;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}

#buy-ticket:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196F3;
}
/* contact from */
.contact-content{
  margin-top: 48px;
}
.contact-info{
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"]{
  width: 30px;
  display: inline-block;
}
.contact-form{
  font-size: 15px;
}
.contact-form .form-control{
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  
}
.map-section img{
  width: 100%;
}
#footer{
  padding: 64px 16px;
  text-align: center;

}
#footer .socials-list{
  font-size: 18px;

}
.socials-list a:hover{
  color:#af94af;
 
}
.socials-list>a{
  color: #868585;
  text-decoration: none;
}
.copyright {
  margin-top: 15px;
  color: #868585;
}
.copyright>a{
  color: #757575;
}


/*viết chuyển động cho modal hiệu ứng animation*/
@keyframes modalFadeIn{
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
/* 
  PC: >=1024px;
  table: >=740px -1024px
  mobile:<740px
*/
